@model AddressBookWithEntityDataModel.Models.ViewModels.ContactDetails
@{
}
@using (Html.BeginForm())
{
    <div style="font-weight: bold; color: Red; padding-left: 4%;">
        <br>
        <br>
        <div>There is currently no CONTACTS in addredd book,</div>
        <div>Please click "Create Contact" button to add contacts</div>
        <br>
        <br>
    </div>
}

