USE [master]
GO
/****** Object:  Database [AddressBook]    Script Date: 2019/04/11 13:56:40 ******/
CREATE DATABASE [AddressBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AddressBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AddressBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AddressBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AddressBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AddressBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AddressBook]
GO
USE [AddressBook]
GO
/****** Object:  User [PURESURVEY\thabo]    Script Date: 2019/04/11 13:56:40 ******/
CREATE USER [PURESURVEY\thabo] FOR LOGIN [PURESURVEY\thabo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019/04/11 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactDetails]    Script Date: 2019/04/11 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactSurname] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.ContactDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ContactDetails] ([Id], [ContactName], [ContactSurname], [ContactEmail], [DateCreated]) VALUES (N'5f626640-af38-4ace-9199-452bcf5cccf3', N'Tbo', N'Touch', N'tbo@touch.co.za', CAST(N'2019-04-11T13:50:24.797' AS DateTime))
GO
ALTER TABLE [dbo].[ContactDetails] ADD  CONSTRAINT [DF_ContactDetails_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ContactDetails] ADD  CONSTRAINT [DF_ContactDetails_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
